<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Week6-活動分類表</title>
  <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../assets/scss/icofont.min.css">

</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="category">
      <div class="container">
        <!-- 標題 -->
        <h2
          class="border border-3  fs-5 fs-md-3 fs-lg-1 px-3 px-md-8 py-5 py-md-7 mb-7 mb-md-8 d-flex align-items-center">
          EVENT
          <span class="fs-7 fs-md-5 fs-lg-4 fw-bold noto-tc-serif ms-auto">所有活動</span>
        </h2>
        <!-- Tags -->
        <div class="d-flex flex-wrap row-gap-2 column-gap-2 mb-8">
          <a href="#" class="tag">演出</a>
          <a href="#" class="tag">音樂</a>
          <a href="#" class="tag">舞蹈</a>
          <a href="#" class="tag">戲劇</a>
          <a href="#" class="tag">音樂會</a>
          <a href="#" class="tag">課程講座</a>
          <a href="#" class="tag">社群活動</a>
          <a href="#" class="tag">展覽</a>
          <a href="#" class="tag">研討會</a>
          <a href="#" class="tag">電影</a>
          <a href="#" class="tag">電音派對</a>
          <a href="#" class="tag">遊戲競賽</a>
          <a href="#" class="tag">親子</a>
          <a href="#" class="tag">藝文活動</a>
          <a href="#" class="tag">運動</a>
          <a href="#" class="tag">交通旅遊</a>
          <a href="#" class="tag">美食</a>
          <a href="#" class="tag">資訊課技</a>
          <a href="#" class="tag">聯誼</a>
          <a href="#" class="tag">戶外</a>
          <a href="#" class="tag">線上活動</a>

        </div>
        <!-- Cards -->
        <div class="row row-gap-sm-2 row-gap-md-8 mb-8 mb-lg-12">
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">19 MAY 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/01.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3 ">邪典電影派對——房間</h4>
                  <p class="noto-tc-sans ">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                    製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold">社群活動</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">開賣中</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">23 MAY 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/02.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3 ">怪舞俱樂部</h4>
                  <p class="noto-tc-sans ">
                    覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold">演出</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">檢視活動</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">30 MAY 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/03.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3">哈利波特馬拉松</h4>
                  <p class="noto-tc-sans ">
                    每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold">社群活動</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">開賣中</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">12 June 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/04.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3 ">皮卡丘排球大賽</h4>
                  <p class="noto-tc-sans ">
                    還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold">遊戲競賽</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">開賣中</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">25 June 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/05.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3 ">酒精路跑</h4>
                  <p class="noto-tc-sans ">
                    身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。</p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold">社群活動</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">開賣中</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">9 July 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/06.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3">展覽——我的房間</h4>
                  <p class="noto-tc-sans ">
                    每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold">展覽</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">開賣中</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">19 MAY 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/07.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3">野營音樂祭</h4>
                  <p class="noto-tc-sans">
                    喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。</p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold">演出</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">開賣中</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">19 MAY 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/08.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3">疊疊樂大賽</h4>
                  <p class="noto-tc-sans ">
                    來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！</p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold">遊戲競賽</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">開賣中</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">18 MAY 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/09.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3">返老還童-制服聯誼</h4>
                  <p class="noto-tc-sans ">
                    由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！</p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold">聯誼</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">檢視活動</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">19 MAY 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/10.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3">野外求生17天</h4>
                  <p class="noto-tc-sans ">野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...
                  </p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold">戶外</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">開賣中</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">19 MAY 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/11.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3">耳熟能詳音樂祭</h4>
                  <p class="noto-tc-sans ">對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來服務台報到立馬退費！
                  </p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold ">演出</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">開賣中</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <h3 class="card-title fs-4 fs-xl-3">19 MAY 2023</h3>
                <div class="card-text border-top  border-3  pt-3 pb-5">
                  <img src="../assets/images/event/12.jpg" alt="" class="d-block img-fluid mb-3">
                  <h4 class="fs-6 fs-lg-5 noto-tc-serif fw-bold mb-2 mb-md-3">野營發呆大賽</h4>
                  <p class="noto-tc-sans ">你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！
                  </p>
                </div>
                <div class="card-footer d-flex border-top border-bottom border-2 ">
                  <img src="../assets/images/sparkler.png" alt="sparkler" class="align-middle me-1">
                  <span class="align-middle noto-tc-serif fw-bold">遊戲競賽</span>
                  <a href="#" class="ms-auto d-flex align-items-center">
                    <span class="align-middle fw-bold me-1">開賣中</span>
                    <i class="icofont-rounded-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center column-gap-2">
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="icofont-arrow-left fs-6"></i>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link active" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#"><i class="icofont-arrow-right fs-6"></i></a></li>
        </ul>
      </nav>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>